<ul class="sidebar-nav list-group" style="">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'catalog:home-page' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:position-list' %}">All positions</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:task-type-list' %}">All tasks types</a></li>
</ul>
