{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Positions
    <a href="{% url 'catalog:position-create' %}">+</a>
  </h1>
  
  <form method="get" action="">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-primary">
  </form>

  {% if position_list %}
    <ul>
      {% for position in position_list %}
        <li><a href="{% url 'catalog:position-detail' pk=position.pk %}">ID:{{ position.id }} "{{ position.name }}"</a></li>
      {% endfor %}
    </ul>
   {% else %}
    <div class="alert alert-info">
      No positions found.
    </div>
  {% endif %}
{% endblock %}
