{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task Types
    <a href="{% url 'catalog:task-type-create' %}">+</a>
  </h1>
  
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-primary">
  </form>

  {% if task_types %}
    <ul>
      {% for task in task_types %}
        <li><a href="{% url 'catalog:task-type-detail' pk=task.id %}">ID:{{ task.id }} "{{ task.name }}"</a></li>
      {% endfor %}
    </ul>
   {% else %}
    <div class="alert alert-info">
      No task types found.
    </div>
  {% endif %}
{% endblock %}
