{% extends "base.html" %}

{% block content %}
  <h1>
    Task detail
    <a href="{% url 'catalog:task-update' pk=task.pk %}" class="btn btn-warning">Update</a>
  </h1>
  
  <ul>
    <li>{{ task.name }}</li>
    <li>{{ task.description }}</li>
    <li>{{ task.deadline }}</li>
    <li>{{ task.priority }}</li>
    <li><a href="{% url 'catalog:task-type-detail' pk=task.task_type.id %}">{{ task.task_type }}</a></li>
    {% for worker in task.assignees.all %}
      <li><a href="{% url 'catalog:worker-detail' pk=worker.id %}">{{ worker }}</a></li>
    {% empty %}
      <li>No workers.</li>
    {% endfor %}
  </ul>
  
{% endblock %}
